@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AKdeBerg<br />
    an aspiring web developer<br />
    <abbr title="Phone">Phone: </abbr>
    01832232097
</address>

<address>
    <strong>Let's Talk:</strong>   <a href="mailto:ich.bin.anik@gmail.com">ich.bin.anik@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>